.DS_Store
.svn
*.svn-base
.cvs
*.elc
*.pyc
*~
.*.swp
nbproject
build/
build_configs/
*.mode1v3
*.pbxuser
*.db
*.deb
*.orig
*.class
var/logs/*.log

.hg/*
.idea/*
envs/*
var/db.sql
var/uploads/*
deps/*
var/*
env/*
**/.thumbnails/*
**/.idea/*
